html
{
	background:linear-gradient(180deg,rgba(0, 0, 0, 1) 47%, rgba(0, 221, 255, 1) 99%);
}
body
{
	color:#FFFFFF;
	font-family:"Trebuchet MS";
	height:auto;
	text-align:center;

}
p
{
	color:#FFFFFF;
	font-family:"Trebuchet MS";
}
.container
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align:center
}
.week1
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.week2
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.week3
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.week4
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
a
{
	color:ffffff;
}