html
{
	background-color:#191919;
}
body
{
	color:#338447;
	font-family:"Trebuchet MS";
	height:auto;
	margin-left:-1px;
}
p
{
	color:#338447;
	font-family:"Trebuchet MS";
}
.holder
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-start;
	width:100.35%;
}
.link
{
	border:solid #b48a58 4px;
	border-radius:4px;
	background-color:#2c2c2c;
	font-size:20px;
	text-align:center;
	text-decoration:none;
	font-family:"Trebuchet MS";
	padding-top:20px;
	display:block;
	height:50px;
}
.text
{
	grid-area:text;
	border:solid #60b9c3 4px;
}
.game
{
	display:grid;
	grid-gap: 20px;
	justify-content:space-between;
	background-color:#2c2c2c;
	margin-left:12px;
	margin-right:12px;
	border:solid #60b9c3 4px;
}
.bar
{
	display:grid;
	height:40px;
	grid-template-columns: auto auto auto auto;
	position:sticky;
	top:0px;
	bottom:auto;
	border:solid green 5px;
	background-color:#2c2c2c;
	z-index:1;
	width:99.9%
}
.barnav
{
	justify-content:space-around;
	border:solid limegreen 1px;
	background-color:#2c2c2c;
	font-size:20px;
	text-align:center;
	color:#338447;
	text-decoration:none;
	font-family:"Trebuchet MS";
	transition: transform 0.25s;
	transition-timing-function:ease;
}
.currentnav
{
	justify-content:space-around;
	border:solid limegreen 1px;
	background-color:#2c2c2c;
	font-size:20px;
	text-align:center;
	color:#54bf41;
	text-decoration:none;
	font-family:"Trebuchet MS";
	transition: transform 0.25s;
	transition-timing-function:ease;
}
.barnav:hover
{
	transform: scale(1.075, 1.075)
}
.currentnav:hover
{
	transform: scale(1.075, 1.075)
}
.image
{
	border:solid #60b9c3 1px;
}
table
{
	table-layout:fixed;
	border-collapse:collapse;
	border:solid #60b9c3 2px;
	margin:4px;
	padding:10px;
	width:100%;
}
thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 40%;
}

thead th:nth-child(3) {
  width: 40%;
}
li
{
	padding:2px;
}
td
{	
	border:solid #c7909f 1px;
	padding:3px;
}
th
{
	color:white;
	border:solid #c7909f 1px;
	padding:2px;
}
div.links
{
	margin-top:10px;
	margin-left:2.5%;
	margin-right:2.5%;
	width:95%;
}
div.logo-name
{
	display:grid;
	height:80px;
	justify-content:space-between;
	border:solid green 5px;
	grid-template-areas:
	"logo name";
	width:99.9%;
	background: linear-gradient(to top, #2c2c2c, darkgreen 99%);
}
div.header > a
{
	justify-content:space-around;
	border:solid limegreen 1px;
	font-size:20px;
	text-align:center;
	color:#338447;
	text-decoration:none;
	font-family:"Trebuchet MS";
}
div.textheader
{
	justify-content:center;
	background-color:#2c2c2c;
	text-align:center;
	border:solid limegreen 4px;
	font-family:"Trebuchet MS";
	width:100%
}
div > p.text
{
	grid-column:1/3;
	justify-content:space-around;
	background-color:#2c2c2c;
	text-align:center;
	border:solid limegreen 1px;
	font-family:"Trebuchet MS";
}
div.art
{
	display:grid;
	grid-template-areas:
	"text"
	"joker"
	"ship"
	"video";
	gap: 20px;
	justify-content:space-between;
	background-color:#2c2c2c;
	margin-left:12px;
	margin-right:8px;
	border:solid #60b9c3 4px;
}
div.mainbody
{
	top:140px;
	width:100%
}
div.joker
{	
display:flex;
background-color:#2c2c2c;
padding:10px;
border:solid #60b9c3 4px;
grid-area:joker;
margin-left:20px;
margin-right:6px;
}
div.ship
{	
display:grid;
grid-template-rows: auto auto;
background-color:#2c2c2c;
grid-template-areas:
"image"
"text";
grid-area:ship;
margin-left:20px;
margin-right:6px;
border:solid #60b9c3 4px;
}
div.video
{	
display:grid;
grid-template-rows: auto auto;
background-color:#2c2c2c;
grid-template-areas:
"image"
"text";
grid-area:video;
margin-left:20px;
margin-right:6px;
border:solid #60b9c3 4px;
}
form
{
	padding:10px;
}
input[type=text], input[type=email], input[type=tel]
{
   box-sizing: border-box;
   width: 200px;
   padding: 5px;
   border: 3px solid #60b9c3;
   border-radius:1px;
}
input[type=submit] {
   cursor: pointer;
   background-color:#9a9b9c;
   border: 1px solid #2b6332;
   border-radius:5px;
}
input[type=submit]:hover {
   background-color: #07d;
}
.pullbutton
{
	cursor: pointer;
   background-color:#9a9b9c;
   border: 1px solid #2b6332;
   border-radius:5px;
}
.pullbutton:hover {
   background-color: #07d;
}
h1,h2,h3,h4,caption
{
	color:white;
}
h2
{
	font-size:15pt;
}
h4
{
	font-size:10pt;
}
	